/* boiler plate code */
#mysproutcloud-interactive-interface * {
  box-sizing: border-box;
}

#mysproutcloud-interactive-interface body {
    margin: auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 3.733vw;
    font-weight: 400;
    line-height: 1.2;
}

#mysproutcloud-interactive-interface h1, #mysproutcloud-interactive-interface h2, #mysproutcloud-interactive-interface h3, #mysproutcloud-interactive-interface h4, #mysproutcloud-interactive-interface h5, #mysproutcloud-interactive-interface h6 {
    margin: 0;
    font-family: sans-serif;
}

#mysproutcloud-interactive-interface a {
    text-decoration: none;
    color: #0c0f12;
    font-weight: 600;
    color: #e40000 !important;
}

#mysproutcloud-interactive-interface video {
    border-radius: 10px;
}

#mysproutcloud-interactive-interface .video > * {
    background-color: transparent;
}

#mysproutcloud-interactive-interface ::-webkit-scrollbar {
  width: 0px;
  border-radius: 10px;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
    }
}
@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}
/* safari end  */

/* Boiler plate code end */

/* main object code begins */

#mysproutcloud-interactive-interface {
    display: flex;
    align-items: center;
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
    border-radius: 5px;
    z-index: 9;
}

#mysproutcloud-interactive-interface #trigger {
    animation: growShrink 3s infinite alternate ease-in-out;
}

#mysproutcloud-interactive-interface #trigger img{
    height: 260px;
}

@keyframes growShrink {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1); /* Adjust the scale value as desired */
    }
    100% {
        transform: scale(1);
    }
}

#mysproutcloud-interactive-interface .close-interactive-interface {
    position: fixed;
    left: 5px;
    height: 40px;
    z-index: 3;
    display: flex;
    align-items: center;
}

#mysproutcloud-interactive-interface .container {
    position: fixed;
    right: 10px;
    bottom: 10px;
    height: 695px;
    width: 390px;
}

#mysproutcloud-interactive-interface .frame {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

#mysproutcloud-interactive-interface .video-container {
    position: relative;
    top: 0;
    left: 0;
    width: 390px;
    height: 695px;
}

#mysproutcloud-interactive-interface .videos {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

#mysproutcloud-interactive-interface .video {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}


/* the section contains the code for video header */
#mysproutcloud-interactive-interface .header_section {
    position: relative;
    width: 100%;
    padding: 25px 20px;
    display: flex;
    z-index: 2;
    justify-content: space-between;
}

#mysproutcloud-interactive-interface .header_section img {
    opacity: 1;
    height: 30px;
    margin-bottom: 12px;
}

#mysproutcloud-interactive-interface .icons-wrapper{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin-left: 30%;
    align-items: flex-end;
}

#mysproutcloud-interactive-interface .countdown {
    position: absolute;
    z-index: 1;
    top: 0;
    height: 5px;
    background-color: #ff0066;
}
/* video Header Section Ends Here */

/* options styling and placement  */
#mysproutcloud-interactive-interface .options {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
}

#mysproutcloud-interactive-interface .currentOptions {
    text-align: center;
    color: white;
    width: 95%;
}

#mysproutcloud-interactive-interface .question{
    padding: 10px;
    max-height: fit-content;
    font-size: 30px;
    overflow: auto;
}

/* h tags sizes to be defined here */
#mysproutcloud-interactive-interface .question h3{
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 10px;
    text-shadow: 2px 2px 20px black;
    font-weight: 600;
}

#mysproutcloud-interactive-interface .question h4{
    font-size: 16px;
    line-height: 25px;
    text-shadow: 2px 2px 20px black;
}
/* h tags definination ends here */

#mysproutcloud-interactive-interface .answers {
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 12px;
    justify-content: center;
}

#mysproutcloud-interactive-interface .options button {
    font-size: 16px;
    padding: 10px 0;
    line-height: unset;
    margin-bottom: 10px;
    background-color: #fafafa;
    border: none;
    color: #0c0f12;
    text-align: center;
    cursor: pointer;
    flex: 0 0 calc(50% - 2.133vw);
    box-shadow: -1.067vw 4.8vw 7.467vw rgb(41 44 79 / 20%);
    border-radius: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mysproutcloud-interactive-interface .options .cta button {
    background-color: #F58A3B;
    color: #FFFFFF;
    font-weight: 700;
    animation: growShrink 1s infinite alternate ease-in-out;
}

#mysproutcloud-interactive-interface .bottom-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 8px;
    padding: 20px 0;
}

#mysproutcloud-interactive-interface .answers .bottom-text span {
    padding: 5px;
    font-style: italic;
    color: #2e476e;
    border-radius: 5px;
}

/* form styling start */

#mysproutcloud-interactive-interface .form{
    background: #f6f6f6;
}

#mysproutcloud-interactive-interface .form-content button{
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: center;
    background-color:#0049b7;
    border-radius: 8px;
    border-style: none;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 16px;
    outline: none;
    padding: 10px 16px;
    text-decoration: none;
    transition: color 100ms;
    user-select: none;
    -webkit-user-select: none;
}

#mysproutcloud-interactive-interface #formHeader{
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

#mysproutcloud-interactive-interface .form-client-logo{
    display: flex;
    justify-content: flex-start;
    font-size: 24px;
}

#mysproutcloud-interactive-interface .form-client-logo img{
    width: 90%;
}

#mysproutcloud-interactive-interface .fields{
    padding: 20px 20px;
    height: 58vh;
    overflow-y: scroll;
    box-shadow: inset -1px -10px 14px -10px #5a5a5a;
}

#mysproutcloud-interactive-interface .form-group{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

#mysproutcloud-interactive-interface .form-group label{
    margin-bottom: 12px;
    color: #575757;
    font-size: 15px;
}

#mysproutcloud-interactive-interface .form-group input{
    height: 50px;
    border-radius: 12px;
    border-color: #e9e9e9;
    border-style: groove;
    border-width: thin;
    padding: 12px;
    font-size: 16px;
}

#mysproutcloud-interactive-interface .form-group input:focus {
    background-color:#f2f6fb;
    outline-color: #0049b7;
}

#mysproutcloud-interactive-interface #formDiv {
    display: block;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 0%;
    border-radius: 10px;
    overflow-y: scroll;
    z-index: 9;
    transition: height 0.6s;
}

#mysproutcloud-interactive-interface .form .form-content {
    border: 0;
    height: 100%;
}

#mysproutcloud-interactive-interface #formSubmit {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7vh;
}
/* form styling end */


/* Media quires for mobile are in this section */
@media (max-width: 640px) {
    #mysproutcloud-interactive-interface .container {
        width: 100%;
        height: 100%;
        right: 0px;
        bottom: 0px;
        position: fixed;
        z-index: 9;
    }
    #mysproutcloud-interactive-interface .video-container {
        width: 100%;
        height: 100%;
    }
    #mysproutcloud-interactive-interface .frame {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #020102;
        margin: 0 auto;
    }
    #mysproutcloud-interactive-interface .video {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #020102;
        height: 100%;
        margin: 0 auto;
    }
    #mysproutcloud-interactive-interface .video-container .video .countdown {
        width: 100%;
        left: 0;
        margin: 0;
    }
    #mysproutcloud-interactive-interface .video video {
        border-radius: 0;
        object-fit: cover;
        height: 100%;
    }
    #mysproutcloud-interactive-interface .video-container .options .answers {
        margin-top: 12px;
    }
    #mysproutcloud-interactive-interface #formDiv {
        height: 0vh;
    }
    #mysproutcloud-interactive-interface .fields {
        height: 82%;
    }
    #mysproutcloud-interactive-interface #formSubmit {
        height: 11%;
    }
}
/* media quries for mobile end here  */

/* media quries for tablets are in this section */
@media (min-width: 641px) and (max-width: 1007px) {
    #mysproutcloud-interactive-interface .container {
        height: 800px;
        width: 420px;
    }
    /* this section manages frame sizes and styling for tablets */
    #mysproutcloud-interactive-interface .frame {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        height: 100%;
    }
    /*frame sizes and styling ends here */
  
    /* this section is to manage the styling of tablet text content */
    #mysproutcloud-interactive-interface .video-container {
        width: 100%;
        height: 100%;
    }
    #mysproutcloud-interactive-interface .frame {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
        margin: 0 auto;
    }
    #mysproutcloud-interactive-interface .video {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    #mysproutcloud-interactive-interface .video-container .video .countdown{
        width: 100%;
        left: 0;
        margin: 0;
    }
    #mysproutcloud-interactive-interface .countdown {
        position: absolute;
        z-index: 1;
        top: 0;
        height: 5px;
        background-color: #ff0066;
    }
    #mysproutcloud-interactive-interface .video-container .video video {
        object-fit: cover;
        height: 100%;
    }
    #mysproutcloud-interactive-interface .video-container .options .answers {
        margin-top: 12px;
    }
    #mysproutcloud-interactive-interface #formDiv {
        height: 0%;
    }
    #mysproutcloud-interactive-interface .fields {
        height: 83%;
    }
    #mysproutcloud-interactive-interface #formSubmit {
        height: 9%;
    }
}
  /* media quries for tablets end here */
